/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 7px solid #424242;
}

.tip-down {
  bottom: -18px;
  right: 15px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 0px 10px;
  padding: 5px;
  background-color: #424242;
  border-radius: 3px;
  border: 5px solid #424242;
	width: 280px;
	margin-bottom: -20px;
}

.body .message {
  border-radius: 3px;
  font-size: 13px;
  color: #fff;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

.greybox {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content {
	margin: 2em auto;
	border: solid #eaeaea 1px;
	margin-bottom: 11px;
	width: 280px;
}

.contenthead {
	border-bottom: solid #eaeaea 1px;
	height: 10px;
}

.contentbody {
	padding: 10px;
}

.orangetext {
	color: #EF5F3C;

}

p {
	color: #777;
	font-size: 11px;
}

.footer {
	margin: 2em auto;
	margin-top: 3px;
  display: flex;
}

.action {
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
}

.Inputbox {
	margin-top: 20px;
}


.Input {
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 3px;
	width: 100px;
	border: solid #eaeaea 1px;
}
.greenButton {
	background-color: #1CBC2C;
	border: 2px solid #1CBC2C;
	width: 100px;
	border-bottom: 2px solid rgba(0,0,0, 0.3);
	color: #fff;
}

.greytext {
	color:  #eaeaea;
}

/* The following font information and color codes are provided for you.
They do not match the prototype exactly, but they are fine to use for the
assignment and doing so does not count against you.  They are simply meant
to help you save time.  We would like everyone to have as close to a
pixel-perfect match to the prototype as possible.  If you do find a font/color
that matches more precisely, please share it with the team so we can
improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
